.content-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #b1487c;
}

.content-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 1.1rem;
}

.crypto-list li {
  min-width: 48%;
  background-color: #974870d7;
  padding: 1%;
}

.crypto-list li a {
  text-decoration: none;
  color: aliceblue;
}

.crypto-list li:nth-child(4n),
.crypto-list li:nth-child(4n + 1) {
  background-color: rgb(202, 53, 127);
}

.all-stats-container {
  background-color: #b1487c;
  padding: 1%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  padding: 10%;
  align-items: center;
  font-size: 20px;
  color: green;
  font-weight: 900;
}


.error-container {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 5%;
}

.search-form-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: #b1487c;
}

.search-input {
  border: 0;
  padding: 1rem;
  width: 35%;
  border-radius: 8px;
}

input:focus-visible {
  outline-offset: 0;
}

.statsContainer {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  background-color: #b1487c;
  color: white;
}

.statsSection {
  display: flex;
  gap: 2rem;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.leftStats,
.rightStats {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.leftStats > span,
.rightStats > span {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .leftStats {
    display: none;
  }

  .statsContainer {
    padding-top: 3%;
  }

  .rightStats > span {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .search-input {
    padding: 0.2rem;
  }

  .crypto-list {
    margin-top: 0;
  }

  .crypto-list li {
    min-width: 90%;
    background-color: #974870d7;
    padding: 2% 1%;
    font-size: 1rem;
  }

  .crypto-list li:nth-child(odd) {
    background-color: #974870d7;
  }

  .crypto-list li:nth-child(even) {
    background-color: rgb(202, 53, 127);
  }

  .content-container ul {
    padding-inline-start: 0;
    flex-direction: column;
    padding: 1rem 0;
  }

  .letf-stats > span,
  .right-stats > span {
    flex-wrap: wrap;
  }
}
